rules_version = '2';
// Emulator-only rules. Never deploy.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
